.App {
  text-align: center;
}

.App-header {
  display: block;
  margin-bottom: 1rem;
}

.App-main {
  display: block;
  margin-bottom: 1rem;
}

.App-footer {
  display: block;
  font-size: 0.75rem;
}
